@tailwind base;
@tailwind components;
@tailwind utilities;

.text-merriweather {
  font-family: "Merriweather_400Regular";
}

.font-medium {
  font-family: "Merriweather_500Medium";
}

.font-bold {
  font-family: "Merriweather_700Bold";
}
